{% extends 'base.html.twig' %}

{% block title %}Calendrier des courses{% endblock %}

{% block body %}
  <div class="content flex column">
    <h1>Calendrier des courses</h1>
    <a href="{{ path('race_new')}}">New</a>
    {% for race in races %}
      <a class="ctn-race" href="{{ path('race_show', {id: race.id}) }}">
      <img src="{{ race.picture }}" alt="" class="img-race">
        <div class="ctn-content">
          <h2 class="race-title">{{ race.name}}</h2>
          <p class="race-cara">{{ race.kilometer}} km / {{ race.denivele }}</p>
          <p class="race-info">- {{race.city }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
