{% extends 'base.html.twig' %}

{% block title %}PlaceRun | User{% endblock %}

{% block body %}

<div class="content">
    <h1>Liste des utilisateurs inscrits</h1>
    <a href="{{ path('user_new')}}" class="btn btn-primary">New</a>
    {% for user in users %}
    <div class="ctn-user mb-20 flex column ">
        <div class="header-user">
            <img src="https://randomuser.me/api/portraits/men/81.jpg" alt="">
            <h2>{{ user.name }}</h2>
        </div>
        <div class="content-user">
            <ul>
                {# <li>Age : {{ user.age }}</li> #}
                <li>VMA : {{ user.vma }}</li>
                {# <li>FCM : {{ user.fcm }}</li> #}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}




