{% extends 'base.html.twig' %}

{% block title %}PlaceRun | User{% endblock %}

{% block body %}

<div class="content">
    <h1>Liste des utilisateurs inscrits</h1>
    {% for user in users %}
        <h1>{{ user.name}}</h1>
        <p>{{ user.email }}</p>
        <p>{{ user.password }}</p>
        <p>{{ user.vma }}</p>
        <p>{{ user.age }}</p>
        <p>{{ user.createdAt }}</p>
        <img src="{{user.img}}" alt="">
    {% endfor %}
</div>






    

{% endblock %}




